/* Set a style for all buttons */
.signinbtn {
	background-color: #90EE90;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	width: 50%;
	opacity: 0.8;
}

.signinbtn:hover {
	background-color: #00FF7F;
	color: white;
}


/* Change styles for signin button on extra small screens */
@media screen and (max-width: 700px) {
	.signinbtn {
		width: 100%;
	}
}